
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(150, 87, 87);
}

header {
  background-color: rgb(177, 83, 83);
  padding: 10px;
  text-align: center;
  font-size: 24px;
}

nav ul {
  list-style-type: disc;
  margin: 0%;
  padding: 0%;
  background-color: rgb(131, 73, 73);
  float: right;
  display: flex;
}

nav ul li {
  display: flex;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 10px;
}


section {
  padding: 50px;
  text-align: center;
  list-style-type: none;
  margin-left: 10%;
  margin-right: 10%;
}

#contact {
  float: right;
  text-align: left;
  list-style-type: none;
  background-color: rgba(187, 116, 116, 0.699);
  padding: 10px;
  margin-right: 0%;
}

/* Responsive layout */
@media (max-width: 768px) {
  header {
    text-align: center;
  }

  nav ul li {
    display: block;
  }

  .applications {
    flex-wrap: wrap;
  }

  .applications img {
    max-width: 100%;
  }
}