/* sets the default colors, fonts, and sizing */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(150, 133, 133);
}
/* sets the size color and position of the header*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(165, 137, 137);
  padding: 10px;
  text-align: center;
  font-size: 180%;

}
/* sets the nav bar settings */
nav {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  background-color: rgb(165, 137, 137);
  padding: 10px; 
}

nav ul {
  list-style-type: disc;
  margin: 0%;
  padding: 0%;
  background-color: rgb(165, 137, 137);
  float: right;
  display: flex;
}

nav ul li {
  display: flex;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 10px;
}
/* set the font size of the about me to be larger */
section#about p {
  font-size: 200%;
}

section {
  padding: 50px;
  text-align: center;
  list-style-type: none;
  margin-left: 10%;
  margin-right: 10%;
}
/* centers the whole work section */
#works {
  text-align: center;
}

#contact {
  float: right;
  text-align: left;
  list-style-type: none;
  background-color: rgb(165, 137, 137);
}

/* responsive layout to help with mobile compatibility to be honest i have no idea if i did this part 100% correct */
@media (max-width: 768px) {
  header {
    text-align: center;
  }

  nav ul li {
    display: block;
  }

  .applications {
    flex-wrap: wrap;
  }

  .applications img {
    max-width: 100%;
  }
}